<html>
<head>
  <meta charset="UTF-8">

  <title>Beer List</title>

  <link href="/app/assets/stylesheets/application.css" rel="stylesheet" type="text/css"/>

  <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

</head>
<body>

<div id="main_container">



</div>

<div id="about_container">
  <a name="about"></a>

  <h2>About</h2>
  <h3>This application will feature commercial real estate properties and allow users to suggest
    and vote about what business they would like to see.</h3>

</div>
</body>