/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require_tree .
*= require_self
 */


//
#nav_container {
  margin: auto;
  //  margin-left: 50px;
  width: 960px;
}

nav {
  background-color: #045FB4;
  opacity: 0.7;
  overflow: hidden;
}

//search
.search input.search_box {
  width: 350px;
  margin: 8px 0 8px 0px;
  padding: 8px;
  display: inline-block;


}
form.search {
  display: inline-block;

}


.search_button {
  background: #045FB4 asset-url("search_glass.png") no-repeat;
  background-size: 20px;
  width: 30px;
  border: none;
}

//search end


form.search {
  display: inline-block;

}

.submit_button {

  color: black;
  font-size: 18px;
  width: 120px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  background: gray;
}

#menu {
  float: right; /* or float: left */
  margin: 0 5px 0 0;

}
#menu li {
  float: left;
  list-style: none;
}

#menu li a {
  font-size: 100%;
  font-weight: bold;
  color: black;
  padding: 17px 25px 15px 25px;
  display: block;
  text-decoration: none;
}

#menu li a:hover {
  color: #fff;
  background-color: #3b2c2c;
}



/*Borders between each button */
#menu li + li {
  border-left: 1px solid #000;
}

/*Borders on both sides */
#menu li:first-child a {
  border-left: 1px solid #000;
}

#menu li:last-child a {
  border-right: 1px solid #000;
}

body {
  background-color: whitesmoke;

}


#about_container {
  background-color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  margin: auto;
  width: 960px;
  min-height: 100;
  color: black;
  font: arial, sans-serif;
  font-size: 20px
}

#listing_container {
  background-color: lightgray;
  min-height: 300px;
  color: black;

}

.property_form{
  max-width:33em;
  min-width:25em;
  margin:0 auto;
  h2{
    margin-left: 33%;
  }
  input[type="submit"]{
    margin-left: 33%;
    width: 8em;
    font-size: 1.5em;
    padding: .6em 0;
  }
}


img {
  width: 300px;
  height: 300px;
}


p {
  color: black;
  font-size: 16px;

}

main {
  margin-top: 100px;
}
#idea_container {
  border: 1px solid #000;
  border-radius: 10px;
}
#idea_container ul {
  margin: 0px;
  padding: 0;

}

#idea_container li {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  background: #ccc;
  margin: 5px 0;
  list-style-type: none;
  text-align: center;
  color: #000;

}
#idea_container li a {
  display: block;
  text-decoration: none;
  padding: 20px;

}
#idea_container li a:hover {
  background: blue;
  color: #ffffff;
}

article header {
  background: black;
  color: #fff;
  font-size: 24px;

}




#header_container,
#nav_container,
#content_container,
#footer_container {
  margin: auto;
  width: 960px;
}

header {
  background-color: #00A0B0;
  font-size: 1.4em;
  text-align: center;
}

nav {
  background-color: #00A0B0;
  overflow: hidden;
}

#content {
  background-color: white;
}


footer {
  background-color: orange;
  min-height: 4em;
}





/* ----- =columns ----- */

.one_half {width:460px;}
.one_third {width:300px;}
.two_third {width:620px;}
.one_fourth {width:220px;}
.three_fourth {width:700px;}
.full_column {width:940px;}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .full_column {
  position:relative;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px;
  float:left;
}

.resetColumnSet {clear:both;}

/* ----- =menu (Primary Nav) ----- */
