<!DOCTYPE html>
<html>
<head>
  <title>Storefront</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



<nav>
  <div id="nav_container">

    <form class="search">
      <input type="text" class="search_box" placeholder="Search for an Address, Neighborhood, City or Zip">
      <!--<button value="O" class="submit" >0</button>-->
      <input type="submit" class="search_button" value="" alt="Search">
    </form>

    <ul id="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#add">Add Property</a></li>
    </ul>
  </div>
  </nav>

<body>

<%= yield %>

</body>
</html>
