<!DOCTYPE html>
<html>
<head>
  <title>Storefront</title>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kameron' rel='stylesheet' type='text/css'>
  <link href="/app/assets/stylesheets/application.css" rel="stylesheet" type="text/css"/>

  <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav>

  <div id="nav_container">
    <ul id="menu">
      <li><a href="/neighborhoods">Neighborhoods</a>
      <li><a href="/properties/new">Add Storefront</a></li>
      </ul>
  </div>
</nav>



<%= yield %>

</body>

<footer>
  <p>Created by: Paul Wenig</p>
  <p>Contact information: <a href="mailto:pwenig@gmail.com">
    pwenig@gmail.com</a>.</p>
</footer>
</html>
